<script id="images-display-one" type="x-tmpl-mustache">
    <div class="image">
      <img class="compare-image image-one" data-id="{{id}}" src="{{picture}}" alt="{{title}}" data-category="{{category_id}}" />
    </div>
</script>

<script id="images-display-two" type="x-tmpl-mustache">
    <div class="image">
      <img class="compare-image image-two" data-id="{{id}}" src="{{picture}}" alt="{{title}}" data-category="{{category_id}}" />
    </div>
</script>


<div class="main-wrapper centered">
  <div class="col-sm-12 col-xs-12 col-md-6 play-div" style="text-align: center">
    <h1>Select Your Game Mode:</h1>
      <%# Play Category Compare (select category dropmenu) %>
      <div class="dropdown play-menu">
          <button type="button" class="btn btn-default dropdown-toggle button-full btn-lg" data-toggle="dropdown">   
            Select A Category
          </button>
          <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dLabel">
            <% @categories.each do |cat| %>
            <li>
               <%= link_to cat.name, play_compare_path(category_id: cat.id), class: "play-button", data: {extension: "category_id=#{cat.id}"} %>
            </li>
            <% end %>
          </ul>
      </div>
      <%# Play Random Category %>
      <div class="play-menu">
        <%= link_to "Random", play_compare_path(random: true), class: "btn btn-primary btn-lg play-button", data: {extension: "random=true"} %>
      </div>
      <%# Play Chuck Norris %>
      <div class="play-menu">
        <%= link_to "Chuck Norris", play_compare_path(chuck_norris: true), class: "btn btn-danger btn-lg play-button", data: {extension: "chuck_norris=true"} %>
      </div>
  </div>
</div>

<div class="container centered" id="images-to-compare"></div>


<div class="loading-modal">
  <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <p>Loading Next Images...</p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title centered" id="myModalLabel">Sorry, that's inccorect. Please choose again</h4>
      </div>
      <div class="modal-body chuck-norris-modal"></div>
      <div class="modal-footer centered">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
