<script id="images-display", type="x-tmpl-mustache">
  <div class="compare-image">
    <img class="image" data-id="{{id}}" src="{{picture}}" alt="{{title}}" />
  </div>
</script>

<div class="container centered" id="images-to-compare"></div>
