<div class="nested-fields">
  <div class="inline-field-display">
  <%= f.input :title %>
  </div>
  <div class="inline-field-display">
  <%= f.input :picture %>
  </div>
  <%= link_to_remove_association "remove item", f, class: "btn btn-danger" %>
  <hr>
</div>