/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


 /* New Session Path Style */

 .btn-centered {
    margin: 0 auto;
 }

 .sign-in-sign-up-forms {
    margin-top: 100px;
    text-align: center;
 }

/* Profile Page */

 .centered {
    text-align: center;
 }

 .compare-image {
  width: 550px;
  height: 550px;
 }

 .image {
  display: inline-block;
 }

 .image:hover {
  opacity: 0.8;
  cursor: pointer;
 }

.play-menu {
  position: relative;
  text-align: center;
  display: block;
  padding: 15px;
 }


 .inline-field-display {
  display: inline-block;
  padding: 10px;
 }

 .select-button {
  display: inline-block;
  padding: 20px 15px 17px 15px;
  width: 50%;
  text-align: center;
 }

 .pick-me {
  display: none;
  width: 100%;
  height: 100px;
  background-color: green;
 }


 .no-bounds-one {
  margin: 0;
  padding: 0;
  text-align: right;
 }

 .no-bounds-two{
  margin: 0;
  padding: 0;
  text-align: left;
 }

 .test-div-one {
  display: none;
  width: 400px;
  height: 50px;
  background-color: #eee;
  text-align: center;
 }

 .test-div-two {
  display: none;
  width: 400px;
  height: 50px;
  background-color: #eee;
  text-align: center;
 }

 .pick-me-text {
  color: gray;
 }

 /* Loading Graphic Details */

 .loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.2 ) 
                50% 50% 
                no-repeat;
}

.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}

/* Navbar Styles */
/* Navigation Bar */
.navbar {
  background: #0c65a5;
  height: 50px;
  padding-top: 0px;
  width: 100%;
  left: 0;
}

.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.link-item {
  color: #fff;
}

.navbar-default.navbar-nav li {
  vertical-align: middle;
}

.brand-image {
  width: 120px;
  height: 77px;
}

.navbar-brand-no-padding {
  padding: 0px;
}

.nav.navbar-nav {
  li {
     /* a:focus {
      background-color: rgba(250, 250, 250, 1);
      }*/
      a:hover {
        background-color: rgba(250, 250, 250, 1);
      }
    }
  }

.welcome-text {
  color: white;
  margin-top: 15px;
  padding-right: 10px;
}

.chuck-norris {
  width: 100%;
  height: 800px;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS1wKVVbbZKcMRpycAxggnSYCmWT1QViAxMRUfBaV6T-R2erfqH");
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-form {
  background-color: rgba(250,250,250,0.8);
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -20px;
  margin-left: 40px;
}

.welcome-text {
  color: black;
  font-weight: bold;
}

.container-fluid {
  z-index: 100;
}

.play-div {
  background-color: rgba(250,250,250,0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-left: 20px;
}

.btn-lg {
  padding: 15px 100px;
  font-size: 20px;
  border-radius: 0;
}

#popup {
  width: 300px;
  min-height: 100px;
  float: right;
  background-color: #fff;
  display: none;
  border-radius: 15;
  border: 1px solid gray;
}

#popup li {
  padding: 10px;
  text-align: center;
}

#popup li:hover {
  background-color: #d3d3d3;
}

ul {
  list-style-type: none;
}

.chuck-norris-modal {
  background-image: url("http://masternorris.com/images/articles-news/images/Chuck_Norris_BZ_WBK_0005-MasterNorris_com.jpg");
  background-size: cover;
  min-height: 400px;
}

.btn {
  padding: 15px 35px;
  border-radius: 0;
  margin-bottom: 10px;
}

.filter-form {
  display: none;
}

.filter-options-title {
  background-color: rgba(200,200,200,1);
}

.filter-options-title:hover {
  background-color: rgba(150,150,150,1);
}

.filter-options-title p {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 20px; 
  font-size: 18px;
}

.dropdown-menu.play-button {
  color: red;
}

.dropdown-menu {
  position: absolute;
  /* top: 100%; */
  /* left: 0; */
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 21px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

ul.dropdown-menu.scrollable-menu {
  width: 300px;
  margin: 0 auto;
}





